// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {

}

.bottom {
  display: inline-block;
  margin-left: 10px;

}

img {
  display: inline-block;
  position: relative;
  bottom: 50px;
}

.pl_box {
  background: linear-gradient(to top, #1DB954 , black);
  width: 350px;
  margin: 10px;
  padding: 15px;
  height: 220px;
}

.pl_box:hover {
  opacity: 1;
}

.recent {
  background: linear-gradient(to top, #ff0000 , black);
  width: 350px;
  margin: 10px;
  padding: 15px;
  height: 220px;
}

.untracked {
  opacity: 0.5;
}


.updated-tooltip {
  background-color: black;
  width: 500px;
  color: white;
}
