<div id="main" >
  <h2 >Welcome to <span class="title">Trackify!</span></h2>
  <h4>Forgot to save your favorite song <br> before it was taken off a playlist? Lost another <br> Discover Weekly because it slipped your mind?  <br> </h4>

    <h3 style="color: #4763f9">Worry no longer! </h3>
  <h4><span class="title">Trackify</span> is an app that tracks changes in your Spotify playlists, <br> updating or generating a new playlist when songs are added/removed.<br> Never lose a Discover Weekly again!</h4>

  <h4>Log in to start tracking!</h4>
  <%= link_to image_tag('spotify_login.png'), '/auth/spotify' %>
</div>
